*{
	margin:0px;
	border:0px;
	padding:0px;
	font-family:'PT Sans', sans-serif;
	-webkit-text-size-adjust:none;
}

#hidepage{
	padding-top:80px;
	z-index:999999;
	position: absolute; 
	left:0px; 
	top:0px; 
	background-color:#FFF; 
	layer-background-color:#FFF;
	height:700px; 
	width:100%;
}

#hidepage img{
	padding-top:40px;
}

.decoration{
	background-image:url(../images/bg/site-deco.png);
	height:2px;
	background-repeat:repeat-x;
	margin-bottom:15px;
}


.top-logo{
	padding-top:0px;
	width:100%;
	margin:auto;
}

.top-logo p{
	text-align:center;
	padding-bottom:15px;
}

.home-footer-text{
	text-align:center;
	padding-bottom:25px;
}


.content-box{
	margin:10px;
}


.wrapper{
	margin:10px;
	background-image:url(../images/bg/grey-background.png);
	border-style:solid;
	border-width:1px;
	border-color:#343434;
	margin-bottom:20px!important;
	background-color: #464647;
    background-repeat: repeat-x;
}

#home {clear:both; display:block;}
.social-box{
	background-image:url(../images/bg/bg-wrapper.png);
	border-style:solid;
	border-width:1px;
	border-color:#343434;
	margin-bottom:15px!important;	
	margin:10px;
	padding:5px;
}

.social-box p{
	font-size:12px!important;
}

.social{
	float:right;
	margin-top:-17px;
}

.social img{
	padding-left:10px;
}

body{
	background: #5f5e5e;
	background-repeat:repeat;
}

.navigation{
	width:100%;
	margin:auto;
	float:left;
}

a.navicons img {
    height: 62px;
    margin-bottom: 8px;
	margin-top:4px;
    margin-left: 7px;
    width: 62px;
}

.navigation-right{
	width:65%;
	float:left;
}

@media screen and (min-width: 400px){	
	/*Galaxy S Screen and Bigger*/
	.navigation{
		width:100%;
		margin:auto;
		float:left;
	}
	.navigation-right{
		width:55%;
		float:left;
	}

	.main-wrapper-bottom-body{
		width:93.5%!important;
	}
	a.navicons img {
    height: 60px;
    margin-bottom: 4px;
	margin-top:8px;
    margin-left: 8px;
    width: 60px;
}
}


.wrapper{
	border-style:solid;
	border-width:1px;
	border-color:#cccccb;
}

/*Footer Styles*/
.main-wrapper-bottom-start{
	float:left;
	background-image:url(../images/bg/bottom-start.png);
	background-position-y:1px;
	background-repeat:no-repeat;
	background-color:transparent;
	width:13px;
	height:12px;
	margin-top:0px; 
}

.main-wrapper-bottom-body{
	float:left;
	background-image:url(../images/bg/bottom-center.png);
	background-repeat:repeat-x;
	background-position-y:1px;
	width:91.5%;
	height:12px;
	margin-top:0px;
}

.main-wrapper-bottom-end{
	float:left;
	background-image:url(../images/bg/bottom-end.png);
	background-repeat:no-repeat;
	background-position-y:1px;
	width:13px;
	height:12px;
	margin-top:0px;
}

#top-box {background:#404042}